.brand-list-container {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.brand-list-box {
	background-color: #fefefe;
	padding: 12px;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 5px;
	height: 15rem;
	cursor: pointer;
	overflow-y: auto;
	max-height: 16rem;
}

.brand-list-box:hover {
	transform: scale(1.01);
	transition: all 0.2s ease-in;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* role list css  */
.role-list-container {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.role-list-box {
	background-color: #fefefe;
	padding: 12px;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 5px;
	height: 10rem;
	cursor: pointer;
	overflow-y: auto;
	max-height: 10rem;
}

.role-list-box:hover {
	transform: scale(1.01);
	transition: all 0.2s ease-in;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
